{
    "secret_name": "test/github_username",
    "region_name": "us-west-2",
    "repo_owner": "jadeknightjr",
    "repo_name": "dumpy",
    "merge_label": "mergeable",
    "merge_type": "merge",
    "commit_title": "commit message",
    "commit_msg": "Default Commit Message",
    "api_route": "https://Default.execute-api.region.amazonaws.com/api/"
}